@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: 'Noto Serif'
}

main,
footer {
  font-family: 'Noto Serif'
}

.App-link {
  color: #61dafb;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  10% {
    border-color: pink;
  }
}

.typing-effect {
  overflow: hidden;
  border-right: .15em solid pink;
  /* The typwriter cursor */
  white-space: nowrap;
  letter-spacing: .2em;
  animation:
    typing 6s steps(30, end) 2s infinite,
    blink-caret 0.5s infinite;
}

p {
  font-size: 14px;
}

li {
  font-size: 14px;
  margin-bottom: 0.3rem;
}

section {
  text-align: left;
  margin-left: '10%';
  margin-right: '10%';
}

footer {
  margin-top: 10rem;
}

.navButton {
  display: 'flex'; 
  flex-direction: 'row';
  margin-right: 10%;
  margin-left: 10%;
}

.navLink {
  display: inline-block;
  /* padding: 0px 20px 0px 20px; */
  text-decoration: none;
  color: #4A3F45;
  font-family: "Urbanist";
}

.navLink:hover {
  color: #90155D;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}

.navHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2%
}
